.fc-event{
    cursor: pointer;
}

#calendrier{
    margin: auto;
    height: 50vh;
}

/* Enlève la bordure droite */
.fc td, .fc th {
    border-style: none;
}

.fc-event-time{
    display : none;
}

.fc-daygrid-day-frame{
    -webkit-box-shadow:inset 0px 0px 0px 1px #ebebf1;
    -moz-box-shadow:inset 0px 0px 0px 1px #ebebf1;
}

.fc-daygrid-dot-event{
    background-color: #2C3E50;
    border-color: #2B3C4D;
    color: #FFFFFF;
}

.fc-daygrid-dot-event:hover{
    background-color: #2C3E50;
}

.fc-event-title{
    color: #FFFFFF;
    font-size: 0.9em;
    margin-left: 0.2rem;
}

.fc-daygrid-event-dot{
    display: none;
}

@media screen and (max-width:767px) {
    .fc-header-toolbar {font-size: 60%;}

    .fc-next-button {font-size: 60%;}
    .fc-prev-button {font-size: 60%;}
    .fc-today-button{display: none;}

    .fc-dayGridMonth-button{display: none;}
    .fc-timeGridWeek-button{display: none;}
}