<h2>Les archers de Liffré</h2>
<h3>{{ trajet.evenement.nom }}</h3>

<p>Bonjour {{ membre.prenom }},</p>

<p>Votre demande d'inscription au trajet {{ trajet.titre }} a été refusée.</p>

<hr>

<p>N'hésitez pas à vous rendre sur <a href="{{ url('main_home') }}"> votre espace membre </a> pour trouver d'autres covoiturages ou proposer le votre !</p>

<p>Vous pouvez contacter l'organisateur du trajet pour plus d'informations. </p>

<p>Merci pour votre participation,</p>

<p>Cordialement,</p>

<p>Les archers de Liffré</p>