<h2>Les archers de Liffré</h2>
<h3>{{ etape.evenement.nom }}</h3>

<p>Bonjour {{ membre.prenom }},</p>

<p>Nous n'avons malheureusement pas pu vous inscrire à l'étape {{ etape.nom }}.</p>

<p>Votre demande d'inscription a été refusée par {{ etape.validateur }}.</p>

<hr>

<p>Vous pouvez contacter le club ou l'organisateur de l'évènement pour plus d'informations. </p>

<p>Merci pour votre participation,</p>

<p>Cordialement,</p>

<p>Les archers de Liffré</p>