{% extends 'base.html.twig' %}

{% block title %}
    Réservations | {{ parent() }}
{% endblock %}

{% block body %}
    {# todo:Liste des membres qui ont réservés le trajet #}
    <p> todo : Liste des membres qui ont réservés le trajet </p>
{% endblock %}



